*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

.time{
    width: 88%;
    float: left;
    position:absolute;
    z-index:1;
}
.body{
    width: 98%;
    float: left;
    margin-left:3%;
}

.bgcolor{
    background-color: #e1ecf4 ; 
    border-left:2px solid #699ecc; 
    padding-left: 3px;
}
.opacity{
    opacity: 0.5;
}

.height{
    height: 30px;
}
.small-font{
    font-size: 10px; 
}
.small-font2{
    font-size: 12px; 
}

.clear{
    clear: both;
}
.border1
{
    border-top:1px solid rgb(206, 202, 202);
}